@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: #eaeaea;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.06);
  padding: 40px 20px;
  width: 100%;
  border: 3px solid #e3e6f8;
  border-radius: 40px;
  font-family: "Ubuntu", sans-serif;
}

.footer-section {
  width: 20%;
}
.footer-section img {
  width: 80%;
}
.footer-section h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #34c6bd;
  text-shadow: 4px 4px 4px #b3b2b2;
  margin-bottom: 20px;
}

.footer-section p {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 270px;
}
.footer-section ul {
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
  color: #333333;
  list-style-type: none;
}
.footer-section li {
  margin: 10px 0;
}
.footer-section span {
  display: inline-flex; 
  align-items: center;
  gap: 8px; 
  color: #7a7a7a;
  font-weight: bolder;
  font-family: "Ubuntu", sans-serif;
}
.footer-section a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 14px;
  transition: color 0.2s ease;
  font-family: "Ubuntu", sans-serif;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.footer-section a:hover {
  color: #0052a9;
}
#fb:hover {
  color: #1877f2;
}

#insta:hover {
  color: #e4405f;
}

#link:hover {
  color: #0a66c2;
}

#tik:hover {
  color: #000000;
}

#x:hover {
  color: #1da1f2;
}

#snap:hover {
  color: #d6d340;
}

#yt:hover {
  color: #ff0000;
}
.rights {
  background-color: #1da1f2;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    width: 80%;
    margin-bottom: 20px;
  }

  .footer-section h3 {
    font-size: 18px;
  }

  .footer-section p,
  .footer-section ul {
    font-size: 14px;
  }
}
.footer {
  background-color: #eaeaea;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-left: -180%;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 300;
}
