.container-gouv {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}
.ad-container-left-gouv,
.ad-container-right-gouv {
    width: 200px;
    background-color: #f4f4f4;
    margin: 0 20px;
}
.list-container-gouv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}
.item-container-gouv {
    width: calc(25% - 20px);
    margin: 10px 0;
    position: relative;
}
.image-container-gouv {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.image-gouv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.image-container-gouv:hover .image-gouv {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.overlay-gouv {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
}
.gouvernorat-name-gouv {
    font-size: 16px;
    font-weight: bold;
    color: black;
}
@media (max-width: 767px) {
    .item-container-gouv {
        width: calc(50% - 20px);
    }
    .ad-container-left-gouv,
    .ad-container-right-gouv {
        display: none;
    }
    .list-container-gouv {
        width: 100%;
    }
    .overlay-gouv {
        padding: 8px;
        color: black;
    }
    .gouvernorat-name-gouv {
        font-size: 14px;
    }
}
